# Cambiamento Climatico

Fonti:

1. Osservatorio Mauna Loa, Hawaii (NOAA-ESRL) https://www.esrl.noaa.gov/gmd/ccgg/trends/data.html

### 1. Ultimo valore di concentrazione Anidrire Carbonica (CO2)
Unità di misura: in ppm

Fonte: Osservatorio Mauna Loa, Hawaii (NOAA-ESRL)

In [1]:
# Import Librerie
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
plt.style.use('ggplot')
get_ipython().magic('pylab inline')

dir_out = os.path.abspath('')

Populating the interactive namespace from numpy and matplotlib

In [2]:
def last_value():
    #Leggo il file messo a disposizione da Mauna Loa
    url="ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_mm_mlo.txt"
    columns = ['Anno','Mese','Data Decimale','Media CO2','Interpolato','Trend','#days']
    co2_mese = pd.read_csv(url,comment='#',sep = '\s+', names=columns)
    # Seleziono Ultimo Valore
    last_co2 = co2_mese.iloc[-1:]['Media CO2'].values[0]
    last_anno = co2_mese.iloc[-1:]['Anno'].values[0]
    last_mese = co2_mese.iloc[-1:]['Mese'].values[0]
    print('Ultimo Valore Medio: {} ppm\n Anno : {}\n Mese : {}\n'.format(last_co2, last_anno, last_mese))
    
    # Seleziono Primo Valore
    first_co2 = co2_mese.iloc[1:]['Media CO2'].values[0]
    first_anno = co2_mese.iloc[1:]['Anno'].values[0]
    first_mese = co2_mese.iloc[1:]['Mese'].values[0]
    print('Primo Valore Medio: {} ppm\n Anno : {}\n Mese : {}'.format(first_co2, first_anno, first_mese))

In [3]:
last_value()

Ultimo Valore Medio: 407.07 ppm
 Anno : 2017
 Mese : 7

Primo Valore Medio: 317.45 ppm
 Anno : 1958
 Mese : 4

### 2. Trend annuale di concentrazione Anidrire Carbonica (CO2)

Unità di misura: in ppm

Fonte: Osservatorio Mauna Loa, Hawaii (NOAA-ESRL)

In [ ]:
def trend():
    #Leggo il file messo a disposizione da Mauna Loa
    url="ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_annmean_mlo.txt"
    columns = ['Anno','Media CO2','unc']
    co2_anno = pd.read_csv(url,comment='#',sep = '\s+', names=columns)
    del co2_anno['unc']
    co2_anno = co2_anno.set_index(['Anno'])
    
    #Grafico
    tp = co2_anno.plot(kind='line',
               legend = False)
    tp.set_xlabel("")
    tp.set_ylabel("Trend Concentrazione CO2 (ppm)")
    fig_posts = tp.get_figure()
    fig_posts.tight_layout()
    fig_posts.savefig(os.path.join(dir_out,'trend_co2.png'), format='png', dpi=1000)

In [ ]:
trend()

### 3. Incremento temperatura terrestre
https://data.giss.nasa.gov/gistemp/tabledata_v3/ZonAnn.Ts+dSST.txt

I dati misurano i cambiamenti della temperatura terrestre rispetto la temperatura media in 0.01 gradi Celsius.

Es. Nel 2016 si è registrato un incremento di 1° grado rispetto la temperatura media del periodo 1950-1980

In [ ]:
#Leggo il file messo a disposizione dal NOAA
url="https://data.giss.nasa.gov/gistemp/tabledata_v3/ZonAnn.Ts+dSST.txt"
temp = pd.read_csv(url, sep = '\n', header=-1)
global_temp = pd.read_csv(url, skiprows=8, nrows=21,sep = '\s+', header=0)
global_temp1 = pd.read_csv(url, skiprows=32, nrows=20,sep = '\s+', header=0)
global_temp2 = pd.read_csv(url, skiprows=55, nrows=20,sep = '\s+', header=0)
global_temp3 = pd.read_csv(url, skiprows=78, nrows=20,sep = '\s+', header=0)
global_temp4 = pd.read_csv(url, skiprows=101, nrows=20,sep = '\s+', header=0)
global_temp5 = pd.read_csv(url, skiprows=124, nrows=20,sep = '\s+', header=0)
global_temp6 = pd.read_csv(url, skiprows=147, nrows=16,sep = '\s+', header=0)
global_temp = global_temp.append(global_temp1).append(global_temp2).append(global_temp3).append(global_temp4).append(global_temp5).append(global_temp6)

In [ ]:
global_temp = global_temp.filter(items=['Year', 'Glob'])
global_temp = global_temp.set_index(['Year'])

In [ ]:
global_temp['Glob_C'] = global_temp['Glob']*0.01 
del global_temp['Glob']

In [ ]:
#Grafico
tp = global_temp.plot(kind='line',
               legend = False)
tp.set_xlabel("")
tp.set_ylabel("Trend Temperatura Terrestre (C°)")
tp.axhline(0, color='k')
fig_posts = tp.get_figure()
fig_posts.tight_layout()
fig_posts.savefig(os.path.join(dir_out,'trend_temp.png'), format='png', dpi=1000)

### 4. Emissioni di CO2 per Paese

http://cdiac.ornl.gov/ftp/ndp030/CSV-FILES/nation.1751_2014.csv

UNITS

Mt C = million tonnes of Carbon

MtCO2 = 1 million tonnes of CO2

To convert between carbon dioxide (CO2) and carbon (C): 3.67 Mt CO2 = 1 Mt C.

In [22]:
cdiac = pd.read_csv(
    "http://cdiac.ornl.gov/ftp/ndp030/CSV-FILES/nation.1751_2014.csv",
    skiprows=[1,2,3],
    na_values="."
)

In [23]:
cdiac = cdiac.rename(columns={
    'Year': "Year",
    'Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C)': "Total",
    'Emissions from solid fuel consumption': "Solid-Fuel",
    'Emissions from liquid fuel consumption': "Liquid-Fuel",
    'Emissions from gas fuel consumption': "Gas-Fuel",
    'Emissions from cement production': "Cement",
    'Emissions from gas flaring': "Gas-Flaring",
    'Per capita CO2 emissions (metric tons of carbon)': 'Per-Capita',
    'Emissions from bunker fuels (not included in the totals)': 'Bunkers'
})

In [27]:
cdiac_2014 = cdiac[cdiac['Year']==2014]

In [29]:
cdiac_2014 = cdiac_2014.filter(items=['Nation', 'Total'])

In [30]:
cdiac_2014.set_index(['Nation'])

                                      Total
Nation
AFGHANISTAN                            2675
ALBANIA                                1559
ALGERIA                               39651
ANDORRA                                 126
ANGOLA                                 9480
ANGUILLA                                 39
ANTIGUA & BARBUDA                       145
ARGENTINA                             55638
ARMENIA                                1508
ARUBA                                   238
AUSTRALIA                             98517
AUSTRIA                               16011
AZERBAIJAN                            10223
BAHAMAS                                 659
BAHRAIN                                8546
BANGLADESH                            19959
BARBADOS                                347
BELARUS                               17316
BELGIUM                               25457
BELIZE                                  135
BENIN                                  1723
BERMUDA                                 157
BHUTAN                                  273
BONAIRE, SAINT EUSTATIUS, AND SABA       88
BOSNIA & HERZEGOVINA                   6063
BOTSWANA                               1918
BRAZIL                               144480
BRITISH VIRGIN ISLANDS                   49
BRUNEI (DARUSSALAM)                    2484
BULGARIA                              11567
...                                     ...
SWEDEN                                11841
SWITZERLAND                            9628
SYRIAN ARAB REPUBLIC                   8373
TAIWAN                                72013
TAJIKISTAN                             1415
THAILAND                              86232
TIMOR-LESTE (FORMERLY EAST TIMOR)       128
TOGO                                    715
TONGA                                    33
TRINIDAD AND TOBAGO                   12619
TUNISIA                                7862
TURKEY                                94350
TURKMENISTAN                          18659
TURKS AND CAICOS ISLANDS                 56
TUVALU                                    3
UGANDA                                 1426
UKRAINE                               61985
UNITED ARAB EMIRATES                  57641
UNITED KINGDOM                       114486
UNITED REPUBLIC OF TANZANIA            3153
UNITED STATES OF AMERICA            1432855
URUGUAY                                1840
UZBEKISTAN                            28692
VANUATU                                  42
VENEZUELA                             50510
VIET NAM                              45517
WALLIS AND FUTUNA ISLANDS                 6
YEMEN                                  6190
ZAMBIA                                 1228
ZIMBABWE                               3278

[220 rows x 1 columns]

In [31]:
cdiac_2014['Total Co2'] = cdiac_2014['Total']*3.67 
del cdiac_2014['Total']

In [38]:
df_g1_filename = 'co2_emission.csv'
df_g1_fullpath = os.path.join(dir_out, df_g1_filename)
cdiac_2014.to_csv(path_or_buf=df_g1_fullpath)